
<button id="video-fetch">Fetch Videos!</button>

<div class="container video-data" id="video-data">
  {{#each Video}}
  <div data-_id="{{this._id}}" class="card">
    <a href="{{this.link}}">{{this.title}}</a>
  </div>
  {{/each}}
</div>