<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span id="close">&times;</span>
    <h2 id="modal-title"></h2>
    <p id="modal-text"></p>
  </div>

</div>
<nav>
  <div class="nav-wrapper blue">
    <a href="/" class="brand-logo center">Reuters Scrapper</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/" class="waves-effect waves-light btn purple lighten-1" id="article-fetch"><i class="fas fa-arrow-alt-circle-right material-icons left"></i>Scrape
          Reuters</a></li>
      <li><a href="/saved">Saved Articles</a></li>
    </ul>
  </div>
</nav>

<div class="jumbotron"></div>

<div class="container">
  <div class="article-data" id="article-data">
    <h1>There are no articles here! Go <a href="/"> here </a> to get some!</h1>
  </div>
</div>